.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  

  .myForm {
    display: flex;
    background-color: lightgray;
    border-radius: 3px;
    padding: 1.8em;
    width: 600px;
  }
  .message {
   	margin-right: 2em; 
    display: flex;
    flex-direction: column;
  }
  .message > textarea {
   flex: 1; 
   min-width: 18em;
  }
  .contact {
   	flex: 1; 
  }
  .contact input {
    width: 90%;
  }
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;
  }
  .contact button {
   background: gray;
   color: white;
   border: 0;
  }