.renderer-flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 5px 5px;
    margin: auto;
    background-color: #c6c6c6;
    width: 70%;
    padding: 20px;
}

.renderer-flex-item {
    flex-grow: 1;
}